<section>
  <img src=<%=data.image_url %> />
  <p id="detail_title"><%=data.title %></p>
  <p id="detail_author"><%=data.author %></p>
  <p id="detail_isbn10"><%=data.isbn10 %></p>
  <p id="detail_isbn13"><%=data.isbn13 %></p>
  <p id="detail_description"><%=data.description %></p>
</section>