<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/base.css" type="text/css">
  <link rel="stylesheet" href="/styles/modules.css" type="text/css">
</head>
<body>
    <ul>
        <% for(var i = 0; i < 10; i++){ %>
            <li>
                <p id="title-head"><%=data[i].bookTitle%> </p>
                <p id="author-head"><%=data[i].bookAuthor%></p>
                <p><%=data[i].description%></p>
                <img src = "<%=data[i].thumbnail%>">
                <form action="/add-book" method="POST">
                    <input type="hidden" name = "title" value="<%=data[i].bookTitle %>"> 
                    <input type="hidden" name = "author" value="<%=data[i].bookAuthor[0] %>"> 
                    <input type="hidden" name = "description" value="<%=data[i].description %>"> 
                    <input type="hidden" name = "image_link" value="<%=data[i].thumbnail %>"> 
                    <input type="hidden" name = "isbn10" value="<%=data[i].isbn10 %>"> 
                    <input type="hidden" name = "isbn13" value="<%=data[i].isbn13 %>"> 
                    <input type="hidden" name = "published_date" value="<%=data[i].publishedDate %>"> 
                    <input type="text" name = "bookshelf" value="" placeholder="insert bookshelf here"> 
                    <input type="submit" value="Add to Database">
                </form>
            </li>
            <% } %>
        </ul>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/base.css" type="text/css">
</head>
<body>
    <ul>
        <% for(var i = 0; i < 10; i++){ %>
            <li><p id="title-head"><%=data[i].bookTitle%> </p>
                <p id="author-head"><%=data[i].bookAuthor%></p>
                <p><%=data[i].description%></p>
                <img src = "<%=data[i].thumbnail%>">
                <form action="/add-book" method="POST">
                    <input type="hidden" name = "title" value="<%=data[i].bookTitle %>"> 
                    <input type="hidden" name = "author" value="<%=data[i].bookAuthor[0] %>"> 
                    <input type="hidden" name = "description" value="<%=data[i].description %>"> 
                    <input type="hidden" name = "image_link" value="<%=data[i].thumbnail %>"> 
                    <input type="hidden" name = "isbn10" value="<%=data[i].isbn10 %>"> 
                    <input type="hidden" name = "isbn13" value="<%=data[i].isbn13 %>"> 
                    <input type="hidden" name = "published_date" value="<%=data[i].publishedDate %>"> 
                    <input type="text" name = "bookshelf" value="" placeholder="insert bookshelf here"> 
                    <input type="submit" value="Add to Database">
                </form>
            </li>
            <% } %>
        </ul>
</body>
>>>>>>> 9679b38cf638f10dff17feb599197a0e44479413
</html>